In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

from delta import *

In [3]:
spark = (
    SparkSession
    .builder
    .master("local[*]")
    .config("spark.jars.packages", "io.delta:delta-spark_2.12:3.3.0")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .getOrCreate()
)

In [7]:
spark

In [20]:
spark.sql(
    """
    CREATE TABLE location_delta (location_id INT, country STRING, continent STRING, population DOUBLE) USING delta
    """
)

DataFrame[]

In [21]:
spark.sql("select * from location_delta").show()

+-----------+-------+---------+----------+
|location_id|country|continent|population|
+-----------+-------+---------+----------+
+-----------+-------+---------+----------+

In [22]:
from delta.tables import DeltaTable

location = DeltaTable.forPath(spark, "./spark-warehouse/location_delta")

In [24]:
location.history().show()

+-------+--------------------+------+--------+------------+--------------------+----+--------+---------+-----------+--------------+-------------+----------------+------------+--------------------+
|version|           timestamp|userId|userName|   operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics|userMetadata|          engineInfo|
+-------+--------------------+------+--------+------------+--------------------+----+--------+---------+-----------+--------------+-------------+----------------+------------+--------------------+
|      0|2025-04-21 20:58:...|  NULL|    NULL|CREATE TABLE|{partitionBy -> [...|NULL|    NULL|     NULL|       NULL|  Serializable|         true|              {}|        NULL|Apache-Spark/3.5....|
+-------+--------------------+------+--------+------------+--------------------+----+--------+---------+-----------+--------------+-------------+----------------+------------+--------------------+

In [32]:
spark.sql("INSERT INTO location_delta VALUES (1, 'Afghanistan', 'Asia', 41450000)")

DataFrame[]

In [34]:
spark.sql("select * from location_delta").show()

+-----------+-----------+---------+----------+
|location_id|    country|continent|population|
+-----------+-----------+---------+----------+
|          1|Afghanistan|     Asia|   4.145E7|
+-----------+-----------+---------+----------+

In [35]:
location.history().show(truncate=False)

+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                           |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|1      |2025-04-21 21:23:04.088|NULL  |NULL    |WRITE       |{mode -> Append, partitionBy -> []}                                                           |NULL|NULL    |NULL     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1289}|NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
|0      |2025-04-21 20:58:58.673|NULL  |NULL    |CREATE TABLE|{partitionBy -> [], clusterBy -> [], description -> NULL, isManaged -> true, properties -> {}}|NULL|NULL    |NULL     |NULL       |Serializable  |true         |{}                                                         |NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

In [36]:
spark.sql(
    """
    alter table location_delta add column people_vaccinated DOUBLE
    """
)

DataFrame[]

In [37]:
spark.sql(
    """
    select * from location_delta
    """
).show()

+-----------+-----------+---------+----------+-----------------+
|location_id|    country|continent|population|people_vaccinated|
+-----------+-----------+---------+----------+-----------------+
|          1|Afghanistan|     Asia|   4.145E7|             NULL|
+-----------+-----------+---------+----------+-----------------+

In [39]:
spark.sql(
    """
    update location_delta set people_vaccinated = 14000000  where location_id = 1
    """
)

DataFrame[num_affected_rows: bigint]

In [40]:
spark.sql(
    """
    select * from location_delta
    """
).show()

+-----------+-----------+---------+----------+-----------------+
|location_id|    country|continent|population|people_vaccinated|
+-----------+-----------+---------+----------+-----------------+
|          1|Afghanistan|     Asia|   4.145E7|            1.4E7|
+-----------+-----------+---------+----------+-----------------+

In [41]:
DeltaTable.isDeltaTable(spark, "spark-warehouse/location_delta")

True

In [42]:
spark.sql('select * from location_delta').show()

+-----------+-----------+---------+----------+-----------------+
|location_id|    country|continent|population|people_vaccinated|
+-----------+-----------+---------+----------+-----------------+
|          1|Afghanistan|     Asia|   4.145E7|            1.4E7|
+-----------+-----------+---------+----------+-----------------+

In [43]:
spark.sql("""
  DELETE FROM location_delta 
  WHERE location_id = 1
""")

DataFrame[num_affected_rows: bigint]

In [44]:
spark.sql('select * from location_delta').show()

+-----------+-------+---------+----------+-----------------+
|location_id|country|continent|population|people_vaccinated|
+-----------+-------+---------+----------+-----------------+
+-----------+-------+---------+----------+-----------------+

In [45]:
spark.sql('describe HISTORY location_delta').show(truncate=False);

+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                                 |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                                              |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|4      |2025-04-21 21:39:11.412|NULL  |NULL    |DELETE      |{predicate -> ["(location_id#6247 = 1)"]}                                                           |NULL|NULL    |NULL     |3          |Serializable  |false        |{numRemovedFiles -> 1, numRemovedBytes -> 1579, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 824, numDeletionVectorsUpdated -> 0, numDeletedRows -> 1, scanTimeMs -> 582, numAddedFiles -> 0, numAddedBytes -> 0, rewriteTimeMs -> 240}     |NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
|3      |2025-04-21 21:35:39.505|NULL  |NULL    |UPDATE      |{predicate -> ["(location_id#4748 = 1)"]}                                                           |NULL|NULL    |NULL     |2          |Serializable  |false        |{numRemovedFiles -> 1, numRemovedBytes -> 1289, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 3018, numDeletionVectorsUpdated -> 0, scanTimeMs -> 2282, numAddedFiles -> 1, numUpdatedRows -> 1, numAddedBytes -> 1579, rewriteTimeMs -> 731}|NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
|2      |2025-04-21 21:28:19.837|NULL  |NULL    |ADD COLUMNS |{columns -> [{"column":{"name":"people_vaccinated","type":"double","nullable":true,"metadata":{}}}]}|NULL|NULL    |NULL     |1          |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                                            |NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
|1      |2025-04-21 21:23:04.088|NULL  |NULL    |WRITE       |{mode -> Append, partitionBy -> []}                                                                 |NULL|NULL    |NULL     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1289}                                                                                                                                                                                                                                                                   |NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
|0      |2025-04-21 20:58:58.673|NULL  |NULL    |CREATE TABLE|{partitionBy -> [], clusterBy -> [], description -> NULL, isManaged -> true, properties -> {}}      |NULL|NULL    |NULL     |NULL       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                                            |NULL        |Apache-Spark/3.5.5 Delta-Lake/3.3.0|
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+